<ion-header>
  <ion-navbar>
    <ion-title>
      Place Order
    </ion-title>
    <ion-buttons end icon-only>
      <button outline ion-button (click)="closeModal()">
        <ion-icon name="close" right></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let order of orders">
      <ion-col>{{order.description}}</ion-col>
      <ion-col col-auto>
        <ion-item type="text"></ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="arrayLength > 0">
    <form>
      <ion-list>
        <ion-item>
          <ion-label>Payment Method</ion-label>
          <ion-select [(ngModel)]="paymentM" formControlName="paymentMethod">
            <ion-option>Cash</ion-option>
            <ion-option>Card</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label><strong>Total Cost</strong></ion-label>
          <ion-input type="text" value="R {{totalCost}}" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-row responsive-sm>
            <ion-col>
              <button color="danger" ion-button block (click)="placeOrder()">Order</button>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
