<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Orders</ion-title>
    <ion-buttons end>
      <button outline ion-button (click)="openMenuPage()">
        Menu
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="wrapper">
    <section *ngFor="let order of incompleteOrders;" class="blue" (click)="processOrder(order._id)">
      <h2>Order #{{order.groupID}}</h2>
      <p>{{order.description}}</p>
      <p>Quantity: {{order.orderedQuantity}}</p>
      <p>Total: R{{order.totalCost}}</p>
      <p>Ordered by: {{order.orderedBy}}</p>
      <br/>
      <p>Tap to complete order.</p>
    </section>

    <section class="red" *ngFor="let order of completeOrders;">
      <h2>Order #{{order.groupID}}</h2>
      <p>{{order.description}}</p>
      <p>Quantity: {{order.orderedQuantity}}</p>
      <p>Total: R{{order.totalCost}}</p>
      <p>Ordered by: {{order.orderedBy}}</p>
    </section>

  </div>
</ion-content>
